.numero{
  background-color: red;
  float: left;
  font-size:100px;
  margin: solid 5px black;
  margin-left: 45%;
}

.mas{
  float: left;
  font-size: 30px;
  width: 60px;
  margin-top: 75px;
  background-color: red;
  
}

.menos{
  font-size: 30px;
  width: 60px;
  margin-top: 75px;  
  background-color: green;
}

.mensaje{
  background-color: black;
  color: white;
  text-align: center;
}