<div class="contenedor">

  <div class="contenido">
    <div class="numero">{{num}}</div>

    <div class="botones">
      <button type="button" class="mas" (click)="Mayor()">+</button>
      <button type="button" class="menos" (click)="Menor()">-</button>
    </div>
  </div>

  <div class="mensaje">
    <span *ngIf="mensaje==true">Limite numerico activado!!!!!</span>

  </div>

</div>